# String Tutorial


```
# String is the data type of python. composed of a collection of characters.
```

In [0]:
# string can be initialized by single quote or double quote
str1 = "python"
str2 = 'hadoop'
print(str1,str2)

python hadoop

In [0]:
str3 = """this is a multiline
string example
in which line break is also save"""
print(str3)

this is a multiline
string example
in which line break is also save

In [0]:
str4 = " to use words like i'm and hasn't"
print(str4)
# while using single apostrophe words inside the single quotation syntax.
# we need to add backslash \ symbol at the start.
str4 = ' to use words like i\'m and hasn\'t'
print(str4)

 to use words like i'm and hasn't
 to use words like i'm and hasn't

In [0]:
print(str1)
# it shows the length of string
print(len(str1))
# to print the character from string
print(str1[3])
# slicing of string
print(str1[1:5])
print(str1[:3])
print(str1[3:])
print(str1[::2])

python
6
h
ytho
pyt
hon
pto

In [0]:
for i in str1:
  print(i)

p
y
t
h
o
n

## String Methods

In [0]:
# strip() removes any white spaces from begining to end
str = "     welcome to python     "
print(str)
print(str.strip())

     welcome to python
welcome to python

In [0]:
# return upper case
print(str.upper())

     WELCOME TO PYTHON

In [0]:
# return lower case
str = "PYTHON"
print(str.lower())

python

In [0]:
print(str.replace("P","R"))

RYTHON

In [0]:
str="welcome to python"
print(str.split("o"))

['welc', 'me t', ' pyth', 'n']

In [0]:
print(str.center(30,"*"))

******welcome to python*******

In [0]:
print(str.count("o"))

3

In [0]:
print(str.endswith("on"))

True

[python official website for string methods](https://docs.python.org/2.4/lib/string-methods.html)

# List Tutorial



```
# A list is a collection of data.
# It can hold values of multiple data types.
# It is orderd and changable.
# It is written with square brackets with comma seperated values.
# Index starts with index 0. 
# List is starts from backside with index -1.
# it has index
# it allows repeted values
```

In [0]:
num=[1,2,3,4,5]
num
l = [10,25,36,47,85,12]
len(l)

6

In [0]:
mix=[1,2,'a',"python","data",3.14]
mix

[1, 2, 'a', 'python', 'data', 3.14]

In [0]:
# accessing list by putting index number in square bracket.
mix[2]

'a'

In [0]:
# accessing list from backside by putting negative index number in square bracket.
mix[-2]

'data'

In [0]:
# list_name=[start:end:step]
num = [0,1,2,3,4,5,6,7,8,9,10]
# for accessing the small part of the list, [start index:last index-1]
print(num[2:8])
# if the left side value of colon is empty, it is considerd as 0
print(num[:4])
# if the right side value of colon is empty, is is considerd as until the end of list
print(num[3:])
# to access elements by a interval. here every second element.
print(num[::2])
# to print list in reverse order.
print(num[::-1])
# to acccess elements by interval with reverse order.
print(num[::-3])

[2, 3, 4, 5, 6, 7]
[0, 1, 2, 3]
[3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[10, 7, 4, 1]

In [0]:
# matrix
mat = [[11,12,13],[21,22,23],[31,32,33]]
print(mat)
print(mat[0][2])

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]
13

## operations on list

In [0]:
# to add multiples of elements in the list
z=[0]*20
x=[1]*5
print(z)
print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1]

In [0]:
# to concatinating two list
conc = z + x
print(conc)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [0]:
# to unpack the string into a seperate character.
# we use list()
print(list("data science"))

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [0]:
# to create a numerical list using range function
# range(start element, end element +1)
list1=[]
list1=list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [0]:
# to seperate first element and other in into a list.
# one and otheer are variable names.
one, *other = num
print(one)
print(other)

0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Methods in List



*   append
*   extend
*   insert
*   remove
*   sort

In [0]:
# to append an element at the end of list
num.append(11)
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [0]:
# to append the another list.
num1=['a','b''c','c']
num.extend(num1)
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'a', 'bc', 'c', 'a', 'bc', 'c']

In [0]:
# to add element at specific index.
num.insert(3,"inserted")
print(num)

[0, 1, 2, 'inserted', 3, 4, 5, 6, 7, 8, 9, 10, 11, 'a', 'bc', 'c', 'a', 'bc', 'c']

In [0]:
# removes the first occurance of the element in list.
num.remove('a')
print(num)

[0, 1, 2, 'inserted', 3, 4, 5, 6, 7, 8, 9, 10, 11, 'bc', 'c', 'a', 'bc', 'c']

In [0]:
# it sorts the list
# it supports only to int or string datatype not for mix datatype list.
new=['s','d','f','a','v','z']
new.sort()
print(new)

['a', 'd', 'f', 's', 'v', 'z']

## Built in functions with list

In [0]:
# it returns the length of list or string
num=[2,3,5,7,1,9,3,0,2,5]
len(num)

10

In [0]:
# returns the minimum value from the list.
min(num)

0

In [0]:
# returns the maximum value from the list.
max(num)

9

In [0]:
# it returns the summation of the list elements.
sum(num)

37

In [0]:
# average of the list
sum(num)/len(num)

3.7

In [0]:
list.

### list



```
[expression for i in ]
```

In [0]:
# even numbers
l = range(0,101)
[i for i in l if i%2==0]

In [0]:
# square of each number
l=range(10)
l2= [i**2 for i in l ]
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
# square of each
l=range(10)
l2= [i**2 for i in l if i>=4 and i<=8 ]
print(l2)

[16, 25, 36, 49, 64]

In [0]:
l1 = [2,3,6]
l2 = [5,4,9]
l = len(l1)
l3 = [l1[i] + l2[i] for i in range(len(l1))]
print(l3,l)

[7, 7, 15] 3

In [0]:
l1= [2,3,6,2]
l2 = [5,4,9,2]
l = len(l1)-1
l3 = [l1[i] + l2[i+1] for i in range(l)]
print(l3)

[6, 12, 8]

**exercise**

---

In [0]:
# create a list of 1 to 10 and derive even and odd number list from the list.

# Tuple Tutorial



*   tuple is immutable
*   immutable means unchangable
*   List is mutable
*   it uses curv brackets
*   tuple use or may not use brackets
*   It is used when no need of dynamic change of values

In [0]:
# tuples are written as in curv brackets
tup1 = ("this","is","python")
print(tup1)
type(tup1)

('this', 'is', 'python')

tuple

In [0]:
# sometimes single value tuple is initialize bye this way
# comma , is very important
# otherwise you can use curv brackets
tup2 = "python",
print(tup2)

('python',)

In [0]:
# we can initialize tuple without using brackets
tup3 = 1,2,3,4,5
print(tup3)
# we can concatenate tuples
print(tup1+tup3)

(1, 2, 3, 4, 5)
('this', 'is', 'python', 1, 2, 3, 4, 5)

In [0]:
# Nesting tuples
tup4 = (tup1,tup3)
print(tup4)
print(tup4[0][2])

(('this', 'is', 'python'), (1, 2, 3, 4, 5))
python

In [0]:
# repation of tuple values
print(tup2*4)

('python', 'python', 'python', 'python')

In [0]:
# Slicing
tup3 = 0,1,2,3,4,5,6,7,8,9
print(tup3)
print(tup3[:2])
print(tup3[2:])
print(tup3[::2])
print(tup3[::-1])
print(tup3[:-4])
print(tup3[-3:])
print(tup3[::-3])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1)
(2, 3, 4, 5, 6, 7, 8, 9)
(0, 2, 4, 6, 8)
(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
(0, 1, 2, 3, 4, 5)
(7, 8, 9)
(9, 6, 3, 0)

In [0]:
# Unpacking
print(tuple("python"))

('p', 'y', 't', 'h', 'o', 'n')

In [0]:
# Unpacking, assigning tuple values to variable
# it is easy when you know elements in the tuple
num = 1,2,3
a,b,c = num
print(a,b,c)

1 2 3

In [0]:
# when elements of tuple are unknown then use this way
# a is containing stat element
# c containing last element
# *b is create a list which contain all elements except first and last
num = 1,2,3,4,5,6
a,*b,c = num
print(a,b,c)

1 [2, 3, 4, 5] 6

In [0]:
# delet the tuple
del num

In [0]:
# Built in functions
num1 = (3,4,3,2,7,5,6,0,9,1,4)
num1.count(3)

2

In [0]:
sum(num1)

44

In [0]:
len(num1)

11

In [0]:
print(max(num1))
min(num1)

9

0

In [0]:
# converting list to tuple
lst = [1,2,3,4]
print(type(lst))
tup= tuple(lst)
print(type(tup))
print(tup)

<class 'list'>
<class 'tuple'>
(1, 2, 3, 4)

In [0]:
# tuple in list
lst = [(1,2,3,4,),6,7,8,("hii","bye"),"python"]
print(lst)
print(type(lst))

[(1, 2, 3, 4), 6, 7, 8, ('hii', 'bye'), 'python']
<class 'list'>

In [0]:
lst.append((4,3,2,1))
print(lst)
lst.remove((1,2,3,4))
print(lst)

[(1, 2, 3, 4), 6, 7, 8, ('hii', 'bye'), 'python', (4, 3, 2, 1)]
[6, 7, 8, ('hii', 'bye'), 'python', (4, 3, 2, 1)]

In [0]:
# list in tuple
tup = ("python",[1,2,3,4])
print(tup)

('python', [1, 2, 3, 4])

In [0]:
#
tup[1].append("append")
print(tup)

('python', [1, 2, 3, 4, 'append'])

In [0]:
tup.index("python")

0

## exercise


1.   create tuple1(0,1,2,3,4,5,6,7,8,9)
2.   create tuple2  using tuple1 by adding 10 (0,1,2,3,4,5,6,7,8,9,10)
3.   create tuple3 using tuple2 by concatenating reverse of tuple1

In [0]:
tup1 =tuple(range(0,10))
print(tup1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [0]:
temp = 10,
#tup2 = tup1 + temp
tup2 = tup1 + (10,)
print(tup2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [0]:
tup3 = tup2 + tup1[::-1]
print(tup3)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

# Dictionary Tutorial



*   Dictionary is an unorderd collection of data stored as a pair of key and values
*   variable_name = {key1 : value1, key2 : value2 ...}
*   keys should be unique
*   when keys are duplicate it overwrite the values and shows the last update value for the key

In [0]:
d1 = {}
print(type(d1))
# for accessing
# dictionary_ name[key]

<class 'dict'>

In [0]:
d2 = {1:"welcome",2:"to",3:"python"}
print(d2)

{1: 'welcome', 2: 'to', 3: 'python'}

In [0]:
#d3 = dict({1:"welcome",2:"to",3:"python"})
#print(d3)

In [0]:
#d4 = dict([(1,"python"),(2,"hadoop"),(3,"numpy")])
#print(d4)

In [0]:
d5 = {1:"welcome",2:"to",3:{1:"python",2:"java"}}
print(d5)

{1: 'welcome', 2: 'to', 3: {1: 'python', 2: 'java'}}

In [0]:
d={}

d[0]="python"
print(d)

{0: 'python'}

In [0]:
d["numpy"]="numpy"
print(d)

{0: 'python', 'numpy': 'numpy'}

In [0]:

d[0]="java"
d

{0: 'java', 'numpy': 'numpy'}

In [0]:
print(d.get("numpy"))
# if there is key not found it dosent show error
# d.get("A",0) key, default value
# defalut value is None

numpy

### Built in functions

In [0]:
d =  {1:"java",2:"python",3:"php"}
# shows the all values
# list of values
d.values()

dict_values(['java', 'python', 'php'])

In [0]:
keys= (1,2,3,4)
values = "a"
dict.fromkeys(keys,values)

{1: 'a', 2: 'a', 3: 'a', 4: 'a'}

In [0]:
d.clear()
print(d)

{}

In [0]:
# shows the all keys
d =  {1:"java",2:"python",3:"php"}
d.keys()

dict_keys([1, 2, 3])

In [0]:
d.popitem()

(3, 'php')

In [0]:
d =  {1:"java",2:"python",3:"php"}

In [0]:
d1={"a":1,"b":2,"c":3}
d2={"c":4,"d":5,"e":3}
# update the dictionary with present values and adding the new values
d1.update(d2)

In [0]:
d1

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 3}

# Set Tuturial



*   set is unorderd collection of unique elements
*   variable_name = set([1,2,3,4])

In [0]:
s=set([1,2,3,4])
print(type(s),s)

<class 'set'> {1, 2, 3, 4}

In [0]:
s.add("a")
print(s)

{1, 2, 3, 4, 'a'}

In [0]:
fs=frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [0]:
s1 = set([1,3,5,2,4])
s2 = set([1,2,3,4,8,9])

In [0]:
s1.union(s2)

{1, 2, 3, 4, 5, 8, 9}

In [0]:
s2.difference(s1)

{8, 9}

In [0]:
s1 == s2

False

In [0]:
s2>s2

False

In [0]:
1 in s1

True

In [0]:
1 not in s2

False

In [0]:
s1 ^ s2

{5, 8, 9}